<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name = "pallet" connectionString="Data Source=localhost\sqlexpress;Initial Catalog=PalletTraceDB;Integrated Security=True"/>
	</connectionStrings>
	<appSettings>
		<add key="targetHeight" value="168"/>
		<add key="targetWidth" value="255"/>
		<add key="tolerance" value="25"/>
	</appSettings>
</configuration>
